
  @import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Inter:wght@300&display=swap');
 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Apply margin to the image cards */
.card {
  margin: 20px;
  /* Adjust the value to control the gap */
}

/* To avoid adding margin to the last card */
.card:last-child {
  margin-right: 0;
}
/* ImageCarousel.css */
.custom-arrow {
  background-color: #fe4980;
  color: white;
  border: 3px solid white;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.custom-arrow:hover {
  background-color: #fe2465;
  color: white;
}

.boxes:hover {
  background-color: #535c67;
  color: #fe2465;
}

/* In your CSS file or a style block */
@keyframes moveText {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}
@keyframes glowText {
  0% {
    text-shadow: 0 0 5px #FF69B4, 0 0 10px #FF1493, 0 0 15px #FF6EB4;
  }
  50% {
    text-shadow: 0 0 20px #FF69B4, 0 0 40px #FF1493, 0 0 60px #FF6EB4;
  }
  100% {
    text-shadow: 0 0 5px #FF69B4, 0 0 10px #FF1493, 0 0 15px #FF6EB4;
  }
}


@keyframes colorChange {
  0% {
    color: #FF69B4;
  }
  50% {
    color: #FF1493;
  }
  100% {
    color: #FF6EB4;
  }
}

.card{
  border-radius: 50px;
}
.legend {
  
  background-color: white;
  color: black;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
